.screen {
    display : flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap:10px;

}
.textDesign {
    font-size: 40px;
    color:#1a5c55;
    font-family: 'Roboto', sans-serif;
}
.imageParent {
    display: flex;
    gap : 20px;


}
.firstImg-design {
    width : 300px;
    height: 250px;
}
.secondImg-design2 {
    width : 400px;
    height: 350px;
}
.thirdImg-design3 {
    width : 300px;
    height: 250px;
}
.text-comment {
    width : 300px;
    height: 250px;
    font-size: 20px;

}
.text-comment2 {
    width : 400px;
    height: 350px;
    font-size: 20px;
}
.text-comment3 {
    width : 300px;
    height: 250px;
    font-size: 20px;
}

